@using Microsoft.AspNetCore.Components.Authorization
@inherits BaseComponent

@inject NavigationManager NavigationManager

<ul class="navbar-nav ms-auto">    
    @if(base.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-light" href="/users/@base.UserId/manage-rsvp-events">Hello, @base.UserName</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light btn btn-link" @onclick="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light btn btn-link" @onclick="Login">Login</a>
        </li>
    }
    
</ul>

<DialogComponent @ref="loginDialog" Title="Login">
    <DialogContent>
        <ExternalLoginButtonComponent />
    </DialogContent>
</DialogComponent>

@code {

    private DialogComponent loginDialog = default!;

    // private AuthenticationState? authState;
    // private bool isAuthenticated = false;
    // private string? userName = string.Empty;
    
    // protected override async Task OnInitializedAsync()
    // {
    //     authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

    //     var user = authState.User;
    //     // You can add additional logic here to handle user roles, claims, etc.
    //     isAuthenticated = user.Identity?.IsAuthenticated ?? false;
    //     if (isAuthenticated)
    //     {
    //         userName = user.Identity?.Name;
    //     }

    // }
    private void Logout(MouseEventArgs args)
    {
        if (base.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/signout", forceLoad: true);
        }
    }
    private void Login(MouseEventArgs args)
    {
        if (!base.IsAuthenticated)
        {
            loginDialog.Show();
        }
        
    }
}
