@page "/payment-success/{eventId}/{checkoutSessionId}"

@inherits BaseComponent
@inject RSVPEventService RsvpService
@inject MakePaymentService MakePaymentService
@inject NavigationManager NavigationManager

<h3>PaymentSuccessComponent</h3>

@code {
    [Parameter]
    public string? eventId { get; set; }

    [Parameter]
    public string? checkoutSessionId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var session = await MakePaymentService.GetCheckoutSessionAsync(checkoutSessionId??string.Empty);

        if (session != null && session.PaymentStatus == "paid")
        {
            //RSVP and create RSVP record
            var rsvpId = await RsvpService.RSVPToEventAsync(int.Parse(eventId??"0"), base.UserEmail ?? "", session.PaymentIntentId, session.PaymentStatus);
            
            //record transaction
            if(rsvpId > 0)
            {
                //record a transaction
                await MakePaymentService.RecordTransaction(rsvpId, session.PaymentStatus);    

                NavigationManager.NavigateTo($"/users/{base.UserId}/manage-rsvp-events", forceLoad: true);
            }
            else
            {
                NavigationManager.NavigateTo($"/rsvp-error/{eventId}");
            }

            // Payment successful, navigate to event details or show success message
            //NavigationManager.NavigateTo($"/rsvp/{eventId}/{session.PaymentIntentId}/{session.PaymentStatus}");
        }
        else
        {
            // Payment failed or pending, show error message or navigate back to payment page
            NavigationManager.NavigateTo($"/make-payment/{eventId}");
        }
    }

}
