@using Meetups.WebApp.Features.BecomeOrganizer
@inherits LayoutComponentBase
@inject LayoutService LayoutService
@implements IDisposable

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/meetup-logo.png" alt="Meetups Logo" style="height:30px;margin-right:10px;mix-blend-mode:screen;" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <SearchBarComponent ButtonClass="btn btn-outline-light" SearchUrl="/" />
        </div>

        <BecomeOrganizerComponent />

        <LoginStatusComponent />
    </div>
</nav>

<main class=" container mx-auto">
    @Body
</main>

<div>
    @LayoutService.SectionContent
</div>

@* <footer class="container-fluid bg-dark text-white py-2 position-fixed bottom-0 w-100">
    <strong class="mt-0 mb-1">Location:</strong> 
    <br/><strong class="card-title fw-bold">&copy; 2023 Meetups. All rights reserved.</strong>

</footer>
 *@



@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {

    //OnAfterRender()
    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            LayoutService.OnSectionContentChanged += UpdateLayoutAsync;
        }
        //LayoutService.OnSectionContentChanged += UpdateLayoutAsync;
        //LayoutService.SetSectionContent(null);
    }

    public async void UpdateLayoutAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        LayoutService.OnSectionContentChanged -= UpdateLayoutAsync;
    }
    
}

