@page "/events/create"
@using Meetups.WebApp.Shared.ViewModels
@using Meetups.WebApp.Shared
@using SixLabors.ImageSharp.Processing
@inject SharedHelper SharedHelper;
@inject CreateEventService createEventService;
@inject NavigationManager NavigationManager;


<ErrorMessageComponent ErrorMessage="@errorMessage" />


<h3>Create Event</h3>

<AddUpdateEventComponent 
    EventViewModel="@_eventViewModel" 
    OnSaved="CreateEvent"
    errorMessage="@errorMessage" 
    ErrorMessageChanged="OnErrorMessageChanged"   
    >
    
    <ErrorMessageFragment>
        <ErrorMessageComponent ErrorMessage="@errorMessage" />
    </ErrorMessageFragment>
</AddUpdateEventComponent>


@code {
    private EventViewModel _eventViewModel = new();
    private string errorMessage = "";
    private async Task OnErrorMessageChanged(string message)
    {
        errorMessage = message;
        //await InvokeAsync(StateHasChanged);
    }
    private async Task CreateEvent()
    {
        // Logic to create the event goes here.
        // For now, we can just navigate back to the main page or show a success message.
        errorMessage = _eventViewModel.Validate(); //  createEventService.ValicateEvent(_eventViewModel);

        if (!string.IsNullOrEmpty(errorMessage))
        {
            return;
        }

        await createEventService.CreateEventAsync(_eventViewModel);

        // Navigate to the main page after creation
        NavigationManager.NavigateTo("/events");


        /*
        errorMessage = _eventViewModel.ValidateDates();
        if (!string.IsNullOrEmpty(errorMessage))
        {
            // Validation failed, do not proceed.
            return;
            }

        errorMessage = _eventViewModel.ValidateLocation();
        if (!string.IsNullOrEmpty(errorMessage))
        {
            // Validation failed, do not proceed.
            return;
            }

        errorMessage = _eventViewModel.ValidateMeetupLink();
        if (!string.IsNullOrEmpty(errorMessage))
        {
            // Validation failed, do not proceed.
            return;
            }
        */

    }

    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {

        _eventViewModel.ImageUrl = "/images/placeholder.png";
        _eventViewModel.CoverImage = e.File;

        if (_eventViewModel.CoverImage == null)
        {
            errorMessage = "No file selected.";
            return;
        }

        //validate file and make sue file size is less than 500kb
        if (_eventViewModel.CoverImage.Size > 500 * 1024)
        {
            errorMessage = "Cover image size should not exceed 500KB.";
            _eventViewModel.CoverImage = null;
            return;
        }

        errorMessage = string.Empty;

        //generate unique file name
        var uniqueFileName = $"{Guid.NewGuid().ToString() + Path.GetExtension(_eventViewModel.CoverImage.Name)}";
        var filePath = Path.Combine("wwwroot", "images","events", uniqueFileName);

        // resize the image if needed
        using var imageStream = _eventViewModel.CoverImage.OpenReadStream(5 * 1024 * 1024); // limit to 5MB 
        using var image = await SixLabors.ImageSharp.Image.LoadAsync(imageStream);

        image.Mutate(x => x.Resize(300,169));

        using var outputStream = new FileStream(filePath, FileMode.Create);
        await image.SaveAsync(outputStream, new SixLabors.ImageSharp.Formats.Png.PngEncoder());
        _eventViewModel.ImageUrl = $"/images/events/{uniqueFileName}";

        /*image.Mutate(x => x.Resize(new SixLabors.ImageSharp.Processing.ResizeOptions
        {
            Size = new SixLabors.ImageSharp.Size(800, 600),
            Mode = SixLabors.ImageSharp.Processing.ResizeMode.Max
        }));*/



            

        // if (_eventViewModel.CoverImage != null)
        // {
        //     // Optionally, you can add validation for the image file here (e.g., file size, type).
        //     // For example, limit file size to 2MB
        //     if (_eventViewModel.CoverImage.Size > 2 * 1024 * 1024)
        //     {
        //         errorMessage = "Cover image size should not exceed 2MB.";
        //         _eventViewModel.CoverImage = null;
        //         return;
        //     }
        //     // You can also read the file content if needed
        //     var buffer = new byte[_eventViewModel.CoverImage.Size];
        //     await _eventViewModel.CoverImage.OpenReadStream().ReadAsync(buffer);
        //     // Do something with the image data if necessary
        // }

                
    }
    
}
