@page "/rsvp-cancellation-confirmation/{RsvpId:int}"
@using Meetups.WebApp.Data.Entities

@inject CancelRSVPService CancelRSVPService

<h3>CancelRSVPConfirmationComponent</h3>

@if(RsvpId > 0)
{
    <div class="alert alert-success" role="alert">
        Your RSVP for the event  <strong>@rsvp?.Event?.Title</strong> has been successfully cancelled.
    </div> 

    if (rsvp != null && !string.IsNullOrEmpty(rsvp.RefundStatus))   
    {
        <div class="alert alert-info" role="alert">
            Your refund has been requested.
            <br />
            You Refund Status: <strong>@rsvp.RefundStatus</strong>. 
            <br />
            Please check your email for more details regarding the refund process.
        </div>
        
               
    }
}
else
{
    <div class="alert alert-danger" role="alert">
        Error occured while cancelling your RSVP for the event <string>@rsvp?.Event?.Title</string>. please try again later.
    </div>
}

@code {

    [Parameter]
    public int RsvpId { get; set; }

    private RSVP? rsvp;
    protected override async Task OnParametersSetAsync()
    {
        rsvp = await CancelRSVPService.GetRSVPByIdAsync(RsvpId);

        if(rsvp != null)
        {
            
        }


    }
}
