@inherits BaseComponent

@if (base.IsOrganizer)
{
    <!-- If the user is already an organizer, go to manage events page -->
    <ul class="navbar-nav ms-auto me-4">
        <li class="nav-item">
            <a class="nav-link text-light btn btn-primary" href="/org/transactions/">My Transactions</a>
        </li>   
    </ul>
}


@code {

}
