@page "/org/transactions"
@inherits BaseComponent
@using Meetups.WebApp.Data.Entities

<h3>Your Transactions</h3>

<div class="container mt-4">
  @* create a row containing a filter for begin date and end date. This filter is used to filter out transactions*@
    



</div>
@code {

}
