@media print {
    body * {
        visibility: hidden;
    }
    #printableTransactions, #printableTransactions * {
        visibility: visible;
    }

    #printableTransactions {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: white;
        padding: 20px;
    }
}