@using Meetups.WebApp.Shared.ViewModels
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inherits BaseComponent
@inject RSVPEventService RSVPEventService

@inject IAuthenticationSchemeProvider AuthenticationSchemeProvider
@inject NavigationManager NavigationManager
@inject RSVPEventService RSVPEventService;


if(_event is not null)
{
<footer class="container-fluid bg-dark text-white py-2 position-fixed bottom-0 w-100">
    <div class="container d-flex align-items-center">
        <div class="container">
            <p class="mt-1 mb-0 text-white">@($"{_event?.BeginDate:MMM d(ddd)}") - @_event?.BeginTime.ToString("HH:hh")</p>
            <p class="card-title fw-bold">@_event?.Title</p>
        </div>
        <div style="color:red;font-weight:bold">
            @errorMessage
        </div>
        <div class="ms-3">
            <button class="btn btn-outline-light" @onclick="Attend">Attend</button>
        </div>
    </div>
</footer>
}

<DialogComponent @ref="dialog" Title="Sign up to attend this event">
    <DialogContent>
        <ExternalLoginButtonComponent />
    </DialogContent>
</DialogComponent>

<ConfirmDialogComponent @ref="confirmDialog" />

@code {
    private string errorMessage = string.Empty;
    [Parameter]
    public EventViewModel? _event { get; set; } 

    private DialogComponent dialog = default!;

    private ConfirmDialogComponent confirmDialog = default!;

    private AuthenticationState? authState;

    protected override bool ShouldClearSectionContent => false;

    //private IEnumerable<AuthenticationScheme>? externalLoginProviders;
    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();


    }
    //Login with external provider
    private void LoginWithExternalProvider(string providerName)
    {
        /*var redirectUrl = "signin-callback";
        NavigationManager.NavigateTo($"/authentication/{providerName}/?redirectUrl={redirectUrl}", forceLoad:true);
        */
                                                                        NavigationManager.NavigateTo($"/authentication/{providerName}", forceLoad: true);

    }



    private async Task Attend()
    {

        if ((authState?.User?.Identity?.IsAuthenticated ?? false) == false)
        {
            // User is authenticated
            dialog.Show();
            //, navigate to event details or RSVP page
            // NavigationManager.NavigateTo($"/events/{_event?.Id}/rsvp");
            // return;
        }
        else
        {

            // User is not authenticated
            confirmDialog.Show("Are you sure you want to RSVP for this event?", async (msg) =>
        {
            if (msg=="ok")
            {
                if(string.IsNullOrEmpty(base.UserId))
                {
                    await base.ReloadProfile(); // Ensure the profile is reloaded to get the latest user information
                }

                var userId = int.Parse(authState?.User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value ?? "0");
                var email = authState?.User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value??"";
                //email = base.UserEmail;

                var result = await RSVPEventService.IsUserRSVPedAsync(_event!.EventId, userId);
                if(!string.IsNullOrEmpty(result))
                {
                    errorMessage = result;
                    StateHasChanged();
                    return;
                }

                if (_event!.HasCost)
                {
                    // Navigate to payment page
                    NavigationManager.NavigateTo($"/make-payment/{_event.EventId}", forceLoad: true);
                }
                else
                {
                    if (await RSVPEventService.RSVPToEventAsync(_event.EventId, email??"") > 0)
                    {
                        NavigationManager.NavigateTo($"/users/{userId}/manage-rsvp-events");
                    }
                    else
                    {
                        NavigationManager.NavigateTo($"/rsvp-error/{_event.EventId}");
                    }
                    // Proceed with RSVP
                    //NavigationManager.NavigateTo($"/rsvp/{_event.EventId}",forceLoad:true);
                }

            }
        });
        }

       
    }

    //override async Task OnInitializedAsync()
    



}
