@using Meetups.WebApp.Shared.ViewModels
if(_event is not null)
{
<footer class="container-fluid bg-dark text-white py-2 position-fixed bottom-0 w-100">
    <div class="container d-flex align-items-center">
        <div class="container">
            <p class="mt-1 mb-0 text-white">@($"{_event?.BeginDate:MMM d(ddd)}") - @_event?.BeginTime.ToString("HH:hh")</p>
            <p class="card-title fw-bold">@_event?.Title</p>
        </div>
        <div>
            <button class="btn btn-outline-light" @onclick="Attend">Attend</button>
        </div>
    </div>
</footer>
}

<DialogComponent @ref="dialog" Title="Sign up to attend this event">
    <DialogContent>
        <p>Are you sure you want to RSVP for this event?</p>
        
    </DialogContent>
</DialogComponent>
@code {
    [Parameter]
    public EventViewModel? _event { get; set; }

    private DialogComponent dialog = default!;

    private void Attend()
    {
        dialog.Show();
    }

}
