@page "/"

<h3>Created Events</h3>

@* <button class="btn btn-primary" @onclick="CreateEvent">Create Event</button> *@
<a href="/events/create" class="btn btn-primary">Create New Meetup</a>
@code {
    private void CreateEvent()
    {
        
    }
}
